.rtl{
  direction: rtl;
}

.align-self{
  align-self:center 
}

main{
    min-height: 80vh;
}

.center{
  text-align: center;
}
  
thead{
  text-align: right; 
}
  
.shiftTD{
    text-align: center;
}

.shiftTD > p{
  display: inline-block;
  width: 50%; 
}  